<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="aPeople" class="co.zhanglintc.UTest.People">
		<property name="name" value="zhanglin" />
		<property name="action" value="Wave hands!" />
		<property name="tool" ref="wing" />
	</bean>

	<bean id="wing" class="co.zhanglintc.UTest.Tool">
		<property name="name" value="wing" />
	</bean>

</beans>